/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&family=Work+Sans&display=swap');
*{
    margin:0px;
    padding:0px;
}
body{
    font-family: 'Work Sans', sans-serif;
}

/* banner style start */
.header{
    background-image: url(../assets/images/banner/banner3.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.1);
    background-blend-mode: overlay;
    width: 100%;
}
    .banner-section{
        font-size: 18px;
        text-align: right;
        padding:100px 150px;
        color:white;
    }
    .banner-title{
    font-weight: 700;
    font-size: 55px;
    line-height: 76px;
    text-align: right;
    color: #FFFFFF;

    }
    .banner-description{
         font-weight: 400;
         font-size: 16px;
         line-height: 26px;
         margin-top: 25px;
    }
    
    .btn-contact {
        color: #005FAC;
        font-weight: 600;
        font-size: 15px;
        border: 0;
        padding: 12px 12px;
        border-radius: 5px;
        background: white;
        margin-top: 25px;
    }
   
/* banner style end */

/* previous failure styles start */
    .previous-year{
        display: flex;
        align-items: center;
        margin: 90px 180px 60px 120px;
        
    }
   
    .previous-year-left-content img{
        height: 500px;
    }

    .previous-year-right-content{
        padding:50px 10px 50px 50px;
    }

    .previous-year-title{
        font-weight: 700;
        font-size: 40px;
        color: #151414;
        padding-bottom: 20px;

    }
    .previous-year-description{
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #444343;
        margin-bottom: 10px;   
    }

    .items{
        line-height: 26px;
        margin-left:15px;
    }
    /* .item{
       list-style-type: circle;

    } */
    .item-color{
        color:#16D887;
    }
    .items small{
        color:black;
    }
    /* previous failures styles end *

   /* My plans styles start  */
.plans-title{
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-top: 70px;
    
}
.all-my-plans{
    display: flex;
   justify-content: space-around; 
    margin: 50px 200px;
}
.category-img{
    width:50%;
    height: 50%;
    margin:auto;
    display: block;
}
.title-plans{
    padding-top: 20px;
}
.plans-descrip{
    margin-top:10px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #737272;

}
   /* My plans styles end  */


   /* always keep a positive style start  */
   .always-keep-container{
        max-width: 70%;
        margin: auto;
   }
   .always-keep-info{
    background-image: url(../assets/images/watch.png),linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%);
    background-size:cover;
    background-blend-mode: overlay;
    padding: 35px;
    margin: 80px 0;   
    border-radius: 8px;
    border: 1px solid blue;
   }
   .always-keep-title{
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
   }
     /* always keep a positive style end  */

     /* -----Gallery style Start------ */

.gallery-container {
    background-color: #1968a8a3;
  }
  
  .highlight {
    color: #3d0fe2;
  }
  
  .section-title h2 {
    text-align: center;
    font-size: 45px;
    margin: 20px auto;
    padding-top: 30px;
  }
  .section-title p{
      padding: 15px 0;
      text-align: center;
      font-size: 30px;
      font-weight: 900;
  }
  .section-title hr{
        width: 50%;
        margin: auto;
  }
  .gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
    padding-bottom: 40px;
  }
  
  .gallery img {
    width: 310px;
    height: 201px;
    cursor: zoom-in;
   margin-left: 10px;
   margin-bottom: 10px;
    border-radius: 8px;
  }
  /*   ------Gallery style End-----*/

     /* footer style start here */
     .future-section-container{
        display: flex;
        justify-content: space-between;
        background: #151414;
        color: #FFFFFF;
     }
     .future-content{
        padding-left:180px;
        padding-top: 140px;
     }
     .future-content h2{
        font-size: 35px;
        font-Weight: 700;
     }
     .subscribe-content{
        padding: 0 300px;
     }
     .future-description{
        margin: 10px 0px;
     }
    .info-one{
        padding:10px 0px;
    }
     .resources{
        padding-top: 10px;
        padding-bottom: 100px;
     }
     .resources img{
        padding-right:15px;
     }
     .subscribe-content{
        margin-top: 150px;
     }
     .sub-title{
        padding-bottom: 15px;
     }
     .input-email{
        padding: 5px 5px;
        background: #151414;
        border: 1px solid white;
        border-radius: 2px;
        margin-bottom:20px;
     }
     .btn-subscribe{
        color:white;
        font-size: 18px;
        border: 0;
        padding: 12px 13px;
        border-radius: 5px;
        background: white;
        background-color: #005FAC ;
     }
      /* footer style end here */





